*{
margin:0;
padding:0;
box-sizing:border-box;
}
html , body{
width:100%;
height:100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #290505;

}

#main button{
    font-size: 2rem;
    background-color: #00e09d;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 0.4rem 1rem;

}